@import url("https://fonts.googleapis.com/css?family=Oswald:500");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}


/* content */

.box-container{
    margin-bottom: 55px;
}


.card{
  margin-top: 30px;
  width: 300px;
  align-items: center;
  
}

.lttr-hglght-h1{
    color: #e2a165;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 150%;
}
.lttr-hglght{
    color: #e2a165;
    font-size: 120%;
}
.box-container h1{
    text-align: center;
    font-size: 60px;
}
.title{
    text-align: center;
}
.card-body .button{
    background-color: white;
    color: #e2a165;
    border: #e2a165 1px solid;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 5px;
}

.card-body .button:hover{
    background-color: #e2a165;
    color: white;
    border: #e2a165 1px solid;
}
 .card-shdw{
    box-shadow: 0px 10px 5px #abaaa8;
}

.content-text{
    margin-bottom: 15px;
  
}



@media (max-width: 576px) {

    .col {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    .box-container h1 {
        font-size: 30px;
    }
  
    .title.card-title {
        font-size: 16px; 
    }
  
    .card-text {
        font-size: 12px; 
    }
  
    .button.btn {
        font-size: 12px; 
    }
  }

  @media (max-width: 750px) {

    .col {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
  
    .box-container h1 {
        font-size: 40px; 
    }
  
    .title.card-title {
        font-size: 18px; 
    }
  
    .card-text {
        font-size: 14px; 
    }
  
    .button.btn {
        font-size: 14px; 
    }
  }
  

@media (max-width: 920px) {

  .col {
    display: flex;
    justify-content: center;
    align-items: stretch;
   
  }

  .box-container h1 {
      font-size: 40px; 
  }

  .title.card-title {
      font-size: 18px; 
  }

  .card-text {
      font-size: 14px; 
  }

  .button.btn {
      font-size: 14px; 
  }
}




@media (max-width: 1000px) {

    .col {
      display: flex;
      justify-content: center;
      align-items: stretch;
 
    }

    .box-container h1 {
        font-size: 40px; 
    }
  
    .title.card-title {
        font-size: 16px; 
    }
  
    .card-text {
        font-size: 12px; 
    }
  
    .button.btn {
        font-size: 14px;
    }
  }
  
  
  
  
  @media (min-width: 951px) and (max-width: 1280px) {
    .col{
        display: flex;
      justify-content: center;
      align-items: stretch;
    }
    .row {
        justify-content: center;
    }

    .col-md-6 {
        flex: 0 0 calc(50% - 15px); 
        
    }
}
