@import url("https://fonts.googleapis.com/css?family=Oswald:500");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: bold;
  
}


/* pre loader */
#preloader {
  background: rgb(239, 202, 167) url(loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease, pointer-events 0.5s; /* Add a transition for opacity and pointer-events */
  pointer-events: none; /* Enable pointer events by default */
}
/* end of pre loader */

.grdnt-dwn{
  background: linear-gradient(white,#E2A165, #da904b ) ;
  height: 16vh;
  margin-top: 0;
}

.text-container {
  margin-left:15%;

}


.cover-container .left-text {
  margin-top: 10%;
}

.left-text h2 {
  color: #333;
  font-family: "Montserrat";
  font-size: 6em;
  font-weight: 900;
  font-weight: bold;
  position: relative;
}

.left-text .cursive-header {
  font-family: 'Macondo Swash Caps', cursive;
  margin-bottom: 5%;
}
#cs{
  color: #E2A165;
  font-family: 'Macondo Swash Caps', cursive;
}

.left-text a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #9a9a9a;
  color: #e2a165;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.lead {
  line-height: 1.8em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#highlight{
  color: #df9147;
  text-shadow: black;
}

.left-text .header-button {
  border: #e2a165 solid 1px;
  background-color:white ;
  color:#e2a165;
}

.left-text .header-button:hover {
  background-color: #e2a165;
  color:white;
}

.img-box {
  position: inherit;
  margin-top: 50px;
  max-width: 100%;

}

.img-box .enlarge-image {
  width: 100%; /* Set to 100% for normal size */
  height: auto;
}

/* Media query to adjust image size for smaller screens */
@media (max-width: 768px) {
  .img-box .enlarge-image {
    width: 80%; /* Adjust the width as needed for smaller screens */
    max-width: 300px; /* Set a maximum width to prevent excessive scaling on small screens */
  }
}


#logo {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-40px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-40px); }
}

